<!doctype html>
<head>
  <title>QR printer</title>
  <meta charset="UTF-8" />
  <meta name="viewport"
       content="width=device-width,
                      initial-scale=1.0" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js">
    </script>

    <style>
        h1, h3 {
          color: green;
        }
        body, header {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
    </style>
</head>

<body onload="window.print()">
  <!-- //////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////

//                 Insert Image URL

//////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////// -->
    <img width="400" height="400" src="https://firebasestorage.googleapis.com/v0/b/enero-373710.appspot.com/o/CucuAngel.png?alt=media&token=2dc0d9ab-5d26-4382-852c-d05547614077'" />
  <br>
  <h1></h1>
    <div id="QR"></div>
   
 <script>
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////

//                  GET text from API

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
    var email = '<%- JSON.stringify(email) %>'
    var uid = '<%- JSON.stringify(uid) %>'
    var e = email.split('"')[1]
    var u = uid.split('"')[1]
    

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////

//                  QR maker

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
var qrcode = new QRCode(document.getElementById("QR"), {
/////    CHANGE TEXT     /////////////////////////////////////////////////////////////
  text: e+'+'+u,
  width: 500,
  height: 500,
  colorDark : "#000000",
  colorLight : "#ffffff",
  correctLevel : QRCode.CorrectLevel.H
});

</script>
</body>
</html>